body {
  background-image: url("https://www.icapps.com/sites/default/files/styles/wide_image/public/React%20Native%20image.jpg?itok=v9IZyGx9");
 background-attachment: fixed;
  }




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: red;
}

h2 , h5 , h1{
  color : white;
  font-size:20px;
}

 div {
   display: block;
     margin: 0 auto;
     max-width: 600px;
     text-align: center;
 }
